<header>
  <div>
    <div class="hero-image-container">
      <div class="hero-image-background">
        <img
          srcset="
            /images/noah/noah_baculi_header_page-400_w.webp          400w,
            /images/noah/noah_baculi_header_page_2_by_1-600_w.webp   800w,
            /images/noah/noah_baculi_header_page_3_by_1-1200_w.webp 1000w,
            /images/noah/noah_baculi_header_page_5_by_1-2000_w.webp 2000w
          "
          sizes="100vw"
          src="/images/noah/noah_baculi_header_page-2400_w.webp"
          class="page-header-pic"
          alt="Noah Header"
        />
      </div>
      <div style="margin: 1em 0">
        <h1 class="home-entrance-title">
          <a href="/">Noah Baculi</a>
        </h1>
        <p id="home-entrance-tagline">Software Engineer</p>
      </div>
    </div>
  </div>
</header>
