<ul width="50%">
  <li><a href="/" class="index">Home</a></li>
  <li>
    <a href="/professional/" class="professional">Professional</a>
  </li>
  <li>
    <a href="/projects/" class="projects">Projects</a>
  </li>
  <li><a href="/hobbies/" class="hobbies">Hobbies</a></li>
  <li><a href="/contact" class="contact">Contact</a></li>
</ul>
