<!-- NOTE: These link class tags need to match the page breadcrumbs in order for the current page highlighting to work -->
<ul width="50%">
  <li>
    <a href="/professional/enterprisedb" class="enterprisedb"
      >EnterpriseDB</a
    >
  </li>
  <li><a href="/professional/carium" class="carium">Carium</a></li>
  <li><a href="/professional/aldras" class="aldras">Aldras</a></li>
  <li><a href="/professional/asme" class="asme">ASME</a></li>
  <li><a href="/professional/trane" class="trane">Trane</a></li>
  <li><a href="/professional/itw" class="itw">ITW</a></li>
  <li>
    <a href="/professional/caffinator" class="caffinator">Caffinator</a>
  </li>
  <li>
    <a href="/professional/nanofluidics" class="nanofluidics"
      >Nanofluidics</a
    >
  </li>
  <li>
    <a href="/professional/science-camp" class="science-camp"
      >Science Camp</a
    >
  </li>
</ul>
