<div class="row row--1fr-2fr">
  <div class="row__media">
    <a href="/professional/enterprisedb">
      <img
        srcset="
          /images/professional/enterprisedb/elephant_group-400_w.webp   400w,
          /images/professional/enterprisedb/elephant_group-800_w.webp   800w,
          /images/professional/enterprisedb/elephant_group-1600_w.webp 1600w,
          /images/professional/enterprisedb/elephant_group-2400_w.webp 2400w
        "
        sizes="(max-width: 980px) 100vw, 30vw"
        loading="lazy"
        decoding="async"
        src="/images/professional/enterprisedb/elephant_group-2400_w.webp"
        alt="EnterpriseDB"
      />
    </a>
  </div>
  <div class="row__text">
    <h3><a href="/professional/enterprisedb">EnterpriseDB</a></h3>
    <h4>Staff Software Engineer, Remote US</h4>
    <ul>
      <li>
        Built the core Rust structure and CI testing for a new AI Postgres
        extension, enhancing code reliability and developer experience.
      </li>
      <li>
        Developed an authentication framework for AI models and embeddings,
        utilizing Postgres FDW user mappings to streamline secure access.
      </li>
      <li>
        Architected a data preparation pipeline within AI Postgres extension,
        enabling in-database preprocessing for improved performance and
        efficiency.
      </li>
    </ul>
    <div class="professional-more-btn">
      <a href="/professional/enterprisedb">Read more →</a>
    </div>
  </div>
</div>
<hr />
<div class="row row--1fr-2fr">
  <div class="row__media">
    <a href="/professional/carium">
      <img
        srcset="
          /images/professional/carium/carium-400_w.webp   400w,
          /images/professional/carium/carium-800_w.webp   800w,
          /images/professional/carium/carium-1600_w.webp 1600w
        "
        sizes="(max-width: 980px)
		100vw, 30vw"
        loading="lazy"
        decoding="async"
        src="/images/professional/carium/carium-1600_w.webp"
        alt="Carium"
      />
    </a>
  </div>
  <div class="row__text">
    <h3><a href="/professional/carium">Carium</a></h3>
    <h4>Software Engineer, Remote US</h4>
    <ul>
      <li>
        Crafted EHR integrations and REST API automations to allow care team
        members to use and automate external patient data natively in Carium.
      </li>
      <li>
        Developed data pipeline and dashboard for new video call feature to
        provide billing and time tracking analytics with data exports for
        billers.
      </li>
      <li>
        Implemented custom tooling to improve developer experience, pace, and
        accuracy.
      </li>
    </ul>
    <div class="professional-more-btn">
      <a href="/professional/carium">Read more →</a>
    </div>
  </div>
</div>
<hr />
<div class="row row--1fr-2fr">
  <div class="row__media">
    <a href="https://www.salesforce.com/" target="_blank">
      <img
        srcset="
          /images/professional/salesforce/team_lunch-400_w.webp 400w,
          /images/professional/salesforce/team_lunch-800_w.webp 800w
        "
        sizes="(max-width: 980px) 100vw, 40vw"
        loading="lazy"
        decoding="async"
        src="/images/professional/salesforce/team_lunch-800_w.webp"
        alt="Salesforce"
      />
    </a>
  </div>
  <div class="row__text">
    <h3>
      <a href="https://www.salesforce.com/" target="_blank">Salesforce</a>
    </h3>
    <h4>Support Engineer, Portland OR</h4>
    <ul>
      <li>
        Developed
        <a
          href="https://salesforcegalaxy.com/"
          target="_blank"
          style="color: #383838"
          ><u>salesforcegalaxy.com</u></a
        >, a 3D web app for learning the Salesforce platform using Vite.js and
        Three.js.
      </li>
      <li>
        Created internal macro tool with a wxPython GUI to increase efficiency
        of case documentation tasks.
      </li>
      <li>
        Resolved customer formula fields, validation rules, Flows, and
        automations.
      </li>
    </ul>
  </div>
</div>
<hr />
<div class="row row--1fr-2fr">
  <div class="row__media">
    <a href="/professional/aldras">
      <img
        srcset="
          /images/professional/aldras/aldras-400_w.webp   400w,
          /images/professional/aldras/aldras-800_w.webp   800w,
          /images/professional/aldras/aldras-1600_w.webp 1600w,
          /images/professional/aldras/aldras-2000_w.webp 2000w
        "
        sizes="(max-width: 980px)
				100vw, 40vw"
        loading="lazy"
        decoding="async"
        src="/images/professional/aldras/aldras-2000_w.webp"
        alt="Aldras"
      />
    </a>
  </div>
  <div class="row__text">
    <h3><a href="/professional/aldras">Aldras Automation</a></h3>
    <h4>Software Engineer, Remote US</h4>
    <ul>
      <li>
        Developed user-centered desktop SaaS application to record and automate
        repetitive computer workflows.
      </li>
      <li>
        Constructed full stack
        <a
          href="https://aldras.netlify.app/"
          target="_blank"
          style="color: #383838"
          ><u>website</u></a
        >
        with user documentation, video tutorials, app download, and payment
        integration.
      </li>
    </ul>
    <div class="professional-more-btn">
      <a href="/professional/aldras">Read more →</a>
    </div>
  </div>
</div>
