/* Family Tree */

.genealogy-scroll::-webkit-scrollbar {
	width: 5px;
	height: 8px;
}

.genealogy-scroll::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #e4e4e4;
}

.genealogy-scroll::-webkit-scrollbar-thumb {
	background: #212121;
	border-radius: 10px;
	transition: 0.5s;
}

.genealogy-scroll::-webkit-scrollbar-thumb:hover {
	background: #d5b14c;
	transition: 0.5s;
}

.genealogy-body {
	white-space: nowrap;
	overflow-y: hidden;
	/* padding: 50px; */
	min-height: 500px;
	text-align: center;
}

.genealogy-tree {
	display: inline-block;
}

.genealogy-tree ul {
	padding-top: 20px;
	position: relative;
	padding-left: 0px;
	display: flex;
	justify-content: center;
}

.genealogy-tree li {
	float: left;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
}

.genealogy-tree li::before,
.genealogy-tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 2px solid #ccc;
	width: 50%;
	height: 18px;
}

.genealogy-tree li::after {
	right: auto;
	left: 50%;
	border-left: 2px solid #ccc;
}

.genealogy-tree li:only-child::after,
.genealogy-tree li:only-child::before {
	display: none;
}

.genealogy-tree li:only-child {
	padding-top: 0;
}

.genealogy-tree li:first-child::before,
.genealogy-tree li:last-child::after {
	border: 0 none;
}

.genealogy-tree li:last-child::before {
	border-right: 2px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}

.genealogy-tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.genealogy-tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 2px solid #ccc;
	width: 0;
	height: 20px;
}

.genealogy-tree li a {
	display: inline-block;
}

.genealogy-tree li a:hover+ul li::after,
.genealogy-tree li a:hover+ul li::before,
.genealogy-tree li a:hover+ul::before,
.genealogy-tree li a:hover+ul ul::before {
	border-color: #fbba00;
}

/*--------------memeber-card-design----------*/
.member-view-box {
	padding: 0px 60px 0px 20px;
	text-align: center;
	border-radius: 4px;
	position: relative;
}

.member-image {
	width: 60px;
	position: relative;
}

.member-image img {
	max-width: 65px;
	width: 8vw;
	height: auto;
	border-radius: 6px;
	border: 1px solid lightgrey;
	background-color: white;
	z-index: 1;
}

.member-image img:nth-of-type(2) {
	max-width: 55px;
	width: 7vw;
}

.member-details {
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: left;
}

@media screen and (max-width: 736px) {
	.home_entrance_title {
		visibility: hidden !important;
		height: 0;
	}

	img.page_header_pic {
		visibility: hidden !important;
		height: 0;
	}

	h2 {
		margin: 10vh 0;
	}

	.member-details h3 {
		font-size: 1em;
	}

	.member-view-box {
		padding: 0px 20px;
	}

	#wrapper>*>.inner {
		padding: 0;
	}
}